<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/dist/style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/pics/Forum Logo.svg">
    <title>Main Page</title>
</head>
<body>
    <div class="top-logo flex justify-between mx-1">
        <div class="flex">
            <a href="/">
                <img src="/static/pics/Forum Logo.svg" alt="Forum Logo" class="mt-1 mx-3">
            </a>
        </div>
        <div class="flex">
            {{ if eq .User.User_name ""}}
            <a href="/notif">
                <img src="/static/pics/notif-off.svg" alt="Notif Logo" class="mt-1 mx-3">
            </a>
            {{ else }}
            <a href="/notif">
                <img src="/static/pics/notif-on.svg" alt="Notif Logo" class="mt-1 mx-3">
            </a>
            {{ end }}
            <a href="/profile">
                <img src="/static/pics/account.svg" alt="Account Logo" class="mt-1 mx-3">
            </a>
        </div>
    </div>
    <div class="title flex items-center flex-col mt-8">
        <h1 class="nexa-heavy text-white text-8xl">Forum</h1>
        <div class="text-purp nexa-heavy text-2xl">Welcome</div>
    </div>
    <div class="content grid grid-cols-3 grid-rows-1 mt-10">
        <!-- <div class="flex flex-col">
            <div class="text-white nexa-heavy text-base col-start-1 ml-5">Filter :</div>
            <div class="p-10">
                <div class="dropdown inline-block relative">
                  <button class="bg-gray-300 nexa-heavy text-purp py-2 px-4 rounded inline-flex items-center w-80 justify-between">
                        <span class="mr-1">Filter</span>
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
                  </button>
                  <ul class="dropdown-menu absolute hidden text-gray-700 pt-1">
                    <li class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">One</a></li>
                    <li class=""><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Two</a></li>
                    <li class=""><a class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Three is the magic number</a></li>
                  </ul>
                </div>
              
              </div>
        </div> -->
        <div class="flex flex-col">
            <div class="text-white nexa-heavy text-base col-start-1 ml-5">Filter :</div>
            <div class="p-10">
                <div class="dropdown inline-block relative">
                  <button class="bg-gray-300 nexa-heavy text-purp py-2 px-4 rounded inline-flex items-center w-80 justify-between">
                        <span class="mr-1">Filter</span>
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
                  </button>
                  <form action="/filters" method="get">
                  <ul class="dropdown-menu absolute hidden text-gray-700 pt-1">
                    <a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href=""><button  name="filter" value="sport" >Sport</button></a>
                    <a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href=""><button name="filter" value="gaming" >Gaming</button></a>
                    <a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href=""><button name="filter" value="news" >News</button></a>
                    <a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href=""><button name="filter" value="computer" >Computer</button></a>
                    <a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href=""><button name="filter" value="lifestyle" >Lifestyle</button></a>
                    <a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href=""><button name="filter" value="home" >Home</button></a>
                    <a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href=""><button name="filter" value="automobile" >Automobile</button></a>
                    <a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href=""><button name="filter" value="other" >Other</button></a>
                    <a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href=""><button name="filter" value="all" >All</button></a>

                  </ul>
                </form>
                </div>
              
              </div>
        </div>
        <div class="text-white nexa-heavy text-base col-start-2 col-end-3 ml-5 flex flex-col">
            <span>Topics :</span>
            {{ $Username := .User.User_name}}
            {{ range .Topics}}
            <form action="/infos" method="get">
            <button value="{{ .TopicID }}" name="id">
                <div class="flex flex-col border-white border-2 rounded-2xl mt-1">
                    <div class="info flex nexa-light">
                        <span class="flex text-purp mt-2 ml-1">Create by: {{.TopicAuthor}} | </span>
                        <span class="flex text-purp mt-2 ml-1">{{ .TopicTime}}</span>
                    </div>
                    <span class="text-purp mt-1">{{ .TopicTitle }}</span>
                    <span class="mb-4">{{ .TopicMessage }}</span>
                </div>
            </form>
            {{ if eq $Username .TopicAuthor}}
            <form action="/delete" method="post">
                <button class="" value="{{.TopicID}}" name="delete">
                    <img src="/static/pics/delete.svg" alt="Delete Logo" class="my-1">
                </button>
            </form>    
            <form action="/modifyt" method="get">
                <button class="px-4" value="{{.TopicID}}" name="modify">
                    <img src="/static/pics/modify.svg" alt="Delete Logo" class="my-1">
                </button>
            </form>
            {{end}}
            </button>
            {{end}}
            
        </div>
    </div>
</body>
</html>