<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/dist/style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/pics/Forum Logo.svg">
    <title>Profile</title>
</head>
<body>
    <div class="top-logo flex justify-between mx-1">
        <div class="flex">
            <a href="/">
                <img src="/static/pics/Forum Logo.svg" alt="Forum Logo" class="mt-1 mx-3">
            </a>
            <a href="/logout">
                <img src="/static/pics/logout.svg" alt="Logout Logo" class="mt-1 mx-3">
            </a>
            <a href="/editprofile">
                <img src="/static/pics/Settings.svg" alt="Settings Logo" class="mt-1 mx-3">
            </a>
        </div>
        <div class="flex">
            <a href="/create">
                <img src="/static/pics/plus.svg" alt="Create Logo" class="mt-1 mx-3">
            </a>
            <a href="/notif">
                <img src="/static/pics/notif-on.svg" alt="Notif Logo" class="mt-1 mx-3">
            </a>
            <img src="/static/pics/account.svg" alt="Account Logo" class="mt-1 mx-3">
        </div>
    </div>
    <div class="title flex items-center flex-col mt-8">
        <h1 class="nexa-heavy text-white text-8xl">Profil</h1>
        <div class="text-white nexa-heavy text-2xl mt-2">Hello, <span class="text-purp">{{ .User.User_name }}</span> !</div>
    </div>
    <form action="/register" method="post">
    <div class="content grid grid-cols-3 grid-rows-1 mt-10">
        <div class="text-white nexa-heavy text-base col-start-1 flex flex-col ml-5 mt-24 items-center">
            <span class="mb-2 text-center">Recently Posts :</span>
            {{ $Username := .User.User_name}}
            {{ range .Topics}}
            <form action="/infos" method="get">
            <button value="{{ .TopicID }}" name="id">
                <div class="flex flex-col border-white border-2 rounded-2xl mt-1">
                    <div class="info flex nexa-light">
                        <span class="flex text-purp mt-2 ml-1">Create by: {{.TopicAuthor}} | </span>
                        <span class="flex text-purp mt-2 ml-1">{{ .TopicTime}}</span>
                    </div>
                    <span class="text-purp mt-1">{{ .TopicTitle }}</span>
                    <span class="mb-4">{{ .TopicMessage }}</span>
                </div>
            </form>
            {{ if eq $Username .TopicAuthor}}
            <form action="/delete" method="post">
                <button class="" value="{{.TopicID}}" name="delete">
                    <img src="/static/pics/delete.svg" alt="Delete Logo" class="my-1">
                </button>
            </form>    
            <form action="/modifyt" method="get">
                <button class="px-4" value="{{.TopicID}}" name="modify">
                    <img src="/static/pics/modify.svg" alt="Delete Logo" class="my-1">
                </button>
            </form>
            {{end}}
            </button>
            {{end}}
        </div>
        <div class="text-white nexa-heavy text-base col-start-2 flex flex-col ml-5 mt-24 items-center">
            <span class="mb-2 text-center">Liked Posts :</span>
            {{ range .LikedTopics}}
            <form action="/infos" method="get">
            <button value="{{ .TopicID }}" name="id">
                <div class="flex flex-col border-white border-2 rounded-2xl mt-1">
                    <div class="info flex nexa-light">
                        <span class="flex text-purp mt-2 ml-1">Create by: {{.TopicAuthor}} | </span>
                        <span class="flex text-purp mt-2 ml-1">{{ .TopicTime}}</span>
                    </div>
                    <span class="text-purp mt-1">{{ .TopicTitle }}</span>
                    <span class="mb-4">{{ .TopicMessage }}</span>
                </div>
            </form>
            </button>
            {{end}}
        </div>
        <div class="text-white nexa-heavy text-base col-start-3 flex flex-col ml-5 mt-24 items-center">
            <span class="mb-2 text-center">Liked Comments :</span>
            {{ range .LikedComments}}
            <form action="/infos" method="get">
            <button value="{{ .Id }}" name="id">
                <div class="flex flex-col border-white border-2 rounded-2xl mt-1">
                    <div class="info flex nexa-light">
                        <span class="flex text-purp mt-2 ml-1">Posted by:  {{.CreatorName}} | </span>
                        <span class="flex text-purp mt-2 ml-1"></span>
                    </div>
                    <span class="text-purp mt-1">{{ .Title }}</span>
                    <span class="mb-4">{{ .Title }}</span>
                </div>
            </form>
            </button>
            {{end}}
        </div>
    </div>
</form>

<!-- {{range .Topics}}
<p>{{.TopicID}}</p>
<p>{{.TopicTitle}}</p>
<p>{{.TopicMessage}}</p>
<p>{{.TopicTime}}</p>
<p>{{.TopicAuthor}}</p>
<p>{{.TopicCategory}}</p>
{{end}} -->
</body>
</html>